<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <h1>Dashboard</h1>

  <section>
    <button type="button" onclick="document.querySelector('#upload-file').showModal()">Add files</button>
    <dialog id="upload-file">
      <form action="/upload-file" method="post" enctype="multipart/form-data">
        <input type="file" name="files" id="files">

        <div class="btn-storage">
          <button type="button" onclick="document.querySelector('#upload-file').close()">Cancel</button>
          <button type="submit">Upload file</button>
        </div>
      </form>
    </dialog>

    <button type="button" onclick="document.querySelector('#create-folder').showModal()">Add folder</button>
    <dialog id="create-folder">
      <form action="/create-folder" method="post">
        <input type="text" name="folder" id="folder">

        <div class="btn-storage">
          <button type="button" onclick="document.querySelector('#create-folder').close()">Cancel</button>
          <button type="submit">Create folder</button>
        </div>
      </form>
    </dialog>
  </section>

  <%- include('./partials/preview.ejs', { user }) %>

  <%- include('./partials/footer.ejs') %>
</body>

</html>