<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
  <%- include('./partials/header.ejs') %>

  <h1>Dashboard</h1>

  <%- include('./partials/new-items-form.ejs') %>

  <%- include('./partials/preview.ejs', { user }) %>

  <%- include('./partials/footer.ejs') %>
</body>

</html>