<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grand Cloud: Cloud Storage</title>
</head>

<body>
  <section>
    <h1>Personal storage for everyone</h1>
    <p>Store your files in your own storage.</p>
  </section>
  <section>
    <a href="/log-in">Log in</a>
    <a href="/sign-up">Sign up</a>
  </section>
</body>

</html>